In [10]:
from pandas.io import sql
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_excel('SEMARHFILE.xlsx') #Reads, index_col = 'ANO PORTARIA'

df.sort_values('ANO PORTARIA',ascending=False)

mean_val = pd.to_numeric(df['VZ CONC. (m3/s)'], errors='coerce').mean() #update

df['VZ CONC. (m3/s)'] = pd.to_numeric(df['VZ CONC. (m3/s)'], errors='coerce') #update

df['COMPARATIVO'] = df.apply(lambda x: 'MENOR QUE A MÉDIA' if x['VZ CONC. (m3/s)'] <= mean_val else 'MAIOR QUE A MÉDIA', axis=1)

print(df.iloc[:,[10,28,29,6,15,9,33]])
print('Média de vazões:', mean_val, 'm³/s')

     BACIA HIDROGRÁFICA/AQUÍFERO LATITUDE  LONGITUDE      DATA VENCIMENTO  \
0                   RIO TABAIANA  -8.91336  -35.1562  2005-06-05 00:00:00
1                      RIO PIAUÍ  -9.84102   -36.572                  NaN
2                      RIO PIAUÍ  -10.2435  -36.3839  2005-07-05 00:00:00
3                            NaN  -10.3418  -36.3349  2005-06-06 00:00:00
4                            NaN  -10.3822  -36.3749  2005-07-06 00:00:00
5                   RIO PERUCABA  -10.3155  -36.5575  2005-06-06 00:00:00
6                      RIO PIAUÍ   -10.346  -36.4845  2005-06-06 00:00:00
7                            NaN  -9.20049  -35.9961  2005-07-09 00:00:00
8                            NaN  -9.23427  -35.9896  2005-07-10 00:00:00
9                            NaN  -9.24621  -36.0229  2005-07-10 00:00:00
10                           NaN  -9.42094  -36.1564  2005-07-11 00:00:00
11                RIO CAMARAGIBE  -9.17322  -35.5524  2005-07-18 00:00:00
12                     RIO PIAUÍ  -9.84102   -36.572  2005-08-17 00:00:00
13                    RIO MUNDAÚ  -9.00944   -36.085  2005-10-19 00:00:00
14                           NaN  -9.46963  -36.2002  2005-10-23 00:00:00
15                    RIO MUNDAÚ  -9.46922  -35.8504  2005-10-23 00:00:00
16                RIO CAMARAGIBE  -9.03072  -35.6266  2005-10-26 00:00:00
17                RIO CAMARAGIBE  -9.03072  -35.6266  2005-10-26 00:00:00
18                RIO CAMARAGIBE  -9.03072  -35.6266  2005-10-26 00:00:00
19                RIO CAMARAGIBE  -9.03072  -35.6266  2005-10-26 00:00:00
20                RIO CAMARAGIBE  -9.03072  -35.6266  2005-10-26 00:00:00
21                RIO CAMARAGIBE  -9.03072  -35.6266  2005-10-26 00:00:00
22                RIO CAMARAGIBE  -9.03072  -35.6266  2005-10-26 00:00:00
23                RIO CAMARAGIBE  -9.03072  -35.6266  2005-10-26 00:00:00
24                   RIO PRATAGY  -9.43217  -35.7836  2005-11-07 00:00:00
25                    RIO MUNDAÚ  -9.20049  -35.9961  2005-12-11 00:00:00
26                    RIO MUNDAÚ  -9.20049  -35.9961  2005-12-11 00:00:00
27                    RIO MUNDAÚ  -9.20049  -35.9961  2005-12-12 00:00:00
28                    RIO JEQUIÁ  -9.65833  -36.4456  2005-12-21 00:00:00
29                    RIO MEIRIM  -9.43753  -35.6817  2006-02-25 00:00:00
...                          ...       ...       ...                  ...
4384                   BARREIRAS  -9.75784  -36.6413                  NaN
4385                   BARREIRAS  -9.75784  -36.6413  2026-07-18 00:00:00
4386                   BARREIRAS  -9.54456  -35.8129                  NaN
4387                   BARREIRAS  -9.54456  -35.8129  2026-07-18 00:00:00
4388                   BARREIRAS  -9.53951  -35.7531                  NaN
4389                   BARREIRAS  -9.53951  -35.7531  2026-07-18 00:00:00
4390                   BARREIRAS  -9.67207  -35.8281  2026-07-18 00:00:00
4391              RIO CAMARAGIBE  -9.06014  -35.5868  2022-07-18 00:00:00
4392                   BARREIRAS  -9.54586  -35.8126                  NaN
4393                   BARREIRAS    -9.495  -35.5814  2026-07-20 00:00:00
4394                   BARREIRAS  -9.54489  -35.7611                  NaN
4395                   BARREIRAS  -9.54489  -35.7611  2026-07-20 00:00:00
4396                   BARREIRAS  -9.57865  -35.7895                  NaN
4397                    FISSURAL  -9.78679  -36.6708                  NaN
4398                    FISSURAL  -9.78679  -36.6708  2026-07-20 00:00:00
4399                    FISSURAL  -9.78616  -36.6698                  NaN
4400                    FISSURAL  -9.78616  -36.6698  2026-07-20 00:00:00
4401                   BARREIRAS  -9.54174  -35.7563                  NaN
4402                   BARREIRAS  -9.54174  -35.7563  2026-07-20 00:00:00
4403                   BARREIRAS  -9.53806  -35.7542                  NaN
4404                   BARREIRAS  -9.53806  -35.7542  2026-07-20 00:00:00
4405                RIO CORURIPE  -9.71643  -36.6592  2018-07-20 00:00:00
4406                   MOSQUEIRO  -9.64089  -35.7464                  NaN
4407                   BARREIRAS  -9.54371  -35.7488  2026-07-31 00:00:00
4408                   BARREIRAS  -9.55217  -35.8112                  NaN
4409                   BARREIRAS  -9.55217  -35.8112  2026-07-31 00:00:00
4410                   BARREIRAS  -9.53345   -35.726  2026-07-31 00:00:00
4411                   BARREIRAS  -9.61878  -35.7347  2026-07-31 00:00:00
4412                   BARREIRAS  -9.55102  -35.8111                  NaN
4413                   BARREIRAS  -9.55102  -35.8111  2026-07-31 00:00:00

      VZ CONC. (m3/s) TIPO DE MANANCIAL        COMPARATIVO
0            0.150000       SUPERFICIAL  MAIOR QUE A MÉDIA
1            0.100000       SUPERFICIAL  MAIOR QUE A MÉDIA
2            0.250000       SUPERFICIAL  MAIOR QUE A MÉDIA
3            0.006930       SUBTERRÂNEO  MENOR QUE A MÉDIA
4            0.006920       SUBTERRÂNEO  MENOR QUE A MÉDIA
5            0.021400       SUPERFICIAL  MENOR QUE A MÉDIA
6            0.023000       SUPERFICIAL  MENOR QUE A MÉDIA
7            0.000550       SUBTERRÂNEO  MENOR QUE A MÉDIA
8            0.001110       SUBTERRÂNEO  MENOR QUE A MÉDIA
9            0.000550       SUBTERRÂNEO  MENOR QUE A MÉDIA
10           0.000600       SUBTERRÂNEO  MENOR QUE A MÉDIA
11           0.033000       SUPERFICIAL  MAIOR QUE A MÉDIA
12           0.243000       SUPERFICIAL  MAIOR QUE A MÉDIA
13           0.033330       SUPERFICIAL  MAIOR QUE A MÉDIA
14           0.033300       SUBTERRÂNEO  MAIOR QUE A MÉDIA
15           0.000012       SUPERFICIAL  MENOR QUE A MÉDIA
16           0.004620       SUPERFICIAL  MENOR QUE A MÉDIA
17           0.004620       SUPERFICIAL  MENOR QUE A MÉDIA
18           0.004620       SUPERFICIAL  MENOR QUE A MÉDIA
19           0.004620       SUPERFICIAL  MENOR QUE A MÉDIA
20           0.004620       SUPERFICIAL  MENOR QUE A MÉDIA
21           0.004620       SUPERFICIAL  MENOR QUE A MÉDIA
22           0.004620       SUPERFICIAL  MENOR QUE A MÉDIA
23           0.004620       SUPERFICIAL  MENOR QUE A MÉDIA
24           0.500000       SUPERFICIAL  MAIOR QUE A MÉDIA
25           0.031000       SUPERFICIAL  MAIOR QUE A MÉDIA
26           0.018000       SUPERFICIAL  MENOR QUE A MÉDIA
27           0.012000       SUPERFICIAL  MENOR QUE A MÉDIA
28           0.007400       SUPERFICIAL  MENOR QUE A MÉDIA
29           0.730000       SUPERFICIAL  MAIOR QUE A MÉDIA
...               ...               ...                ...
4384         0.000000       SUBTERRÂNEO  MENOR QUE A MÉDIA
4385         0.006667       SUBTERRÂNEO  MENOR QUE A MÉDIA
4386         0.000000       SUBTERRÂNEO  MENOR QUE A MÉDIA
4387         0.005556       SUBTERRÂNEO  MENOR QUE A MÉDIA
4388         0.000000       SUBTERRÂNEO  MENOR QUE A MÉDIA
4389         0.007333       SUBTERRÂNEO  MENOR QUE A MÉDIA
4390         0.016667       SUBTERRÂNEO  MENOR QUE A MÉDIA
4391         0.113000       SUPERFICIAL  MAIOR QUE A MÉDIA
4392         0.001944       SUBTERRÂNEO  MENOR QUE A MÉDIA
4393         0.003333       SUBTERRÂNEO  MENOR QUE A MÉDIA
4394         0.000000       SUBTERRÂNEO  MENOR QUE A MÉDIA
4395         0.008333       SUBTERRÂNEO  MENOR QUE A MÉDIA
4396         0.000000       SUBTERRÂNEO  MENOR QUE A MÉDIA
4397         0.000000       SUBTERRÂNEO  MENOR QUE A MÉDIA
4398         0.004444       SUBTERRÂNEO  MENOR QUE A MÉDIA
4399         0.000000       SUBTERRÂNEO  MENOR QUE A MÉDIA
4400         0.000925       SUBTERRÂNEO  MENOR QUE A MÉDIA
4401         0.000000       SUBTERRÂNEO  MENOR QUE A MÉDIA
4402         0.004444       SUBTERRÂNEO  MENOR QUE A MÉDIA
4403         0.000000       SUBTERRÂNEO  MENOR QUE A MÉDIA
4404         0.008333       SUBTERRÂNEO  MENOR QUE A MÉDIA
4405         0.000000       SUPERFICIAL  MENOR QUE A MÉDIA
4406         0.000000       SUBTERRÂNEO  MENOR QUE A MÉDIA
4407         0.000833       SUBTERRÂNEO  MENOR QUE A MÉDIA
4408         0.000000       SUBTERRÂNEO  MENOR QUE A MÉDIA
4409         0.002639       SUBTERRÂNEO  MENOR QUE A MÉDIA
4410         0.009444       SUBTERRÂNEO  MENOR QUE A MÉDIA
4411         0.002778       SUBTERRÂNEO  MENOR QUE A MÉDIA
4412         0.000000       SUBTERRÂNEO  MENOR QUE A MÉDIA
4413         0.005556       SUBTERRÂNEO  MENOR QUE A MÉDIA

[4414 rows x 7 columns]
Média de vazões: 0.028331680268254472 m³/s

In [24]:
import pandas as pd
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
df1 = pysqldf("SELECT * FROM df LIMIT 15")

print(pysqldf('SELECT * FROM df1'))
print("_______________________")

print(pysqldf("""SELECT DATA EXTRATO, count(*) as 'TotalNo'
              FROM df
              GROUP BY county
              HAVING COUNT(*) > 1000
              ORDER BY 1
              """))

    ITEM       Nº PROCESSO  Nº PORTARIA  ANO PORTARIA         DATA EXTRATO  \
0      1  19010-00009/2001          1.0        2001.0  2001-06-05 00:00:00
1      2  19010-00146/2001          1.0        2001.0  2001-08-17 00:00:00
2      3  19010-00041/2001          2.0        2001.0  2001-07-05 00:00:00
3      4  19010-00059/2001          3.0        2001.0  2001-06-06 00:00:00
4      5  19010-00058/2001          4.0        2001.0  2001-07-06 00:00:00
5      6  19010-00070/2001          5.0        2001.0  2001-06-06 00:00:00
6      7  19010-00108/2001          6.0        2001.0  2001-06-06 00:00:00
7      8  19010-00244/2001          7.0        2001.0  2001-07-09 00:00:00
8      9  19010-00243/2001          8.0        2001.0  2001-07-10 00:00:00
9     10  19010-00245/2001          9.0        2001.0  2001-07-10 00:00:00
10    11  19010-00253/2001         10.0        2001.0  2001-07-11 00:00:00
11    12  19010-00388/2001         11.0        2001.0  2001-07-18 00:00:00
12    13  19010-00146/2001         12.0        2001.0  2001-08-17 00:00:00
13    14  19010-00300/2001         13.0        2001.0  2001-10-19 00:00:00
14    15  19010-00260/2001         14.0        2001.0  2001-10-23 00:00:00

    VALIDADE      DATA VENCIMENTO             CARACTERÍSTICA DO PLEITO  \
0        4.0  2005-06-05 00:00:00                 CAPTAÇÃO SUPERFICIAL
1        NaN                 None               CONSTRUÇÃO DE BARRAGEM
2        4.0  2005-07-05 00:00:00                 CAPTAÇÃO SUPERFICIAL
3        4.0  2005-06-06 00:00:00                 CAPTAÇÃO SUBTERRÂNEA
4        4.0  2005-07-06 00:00:00                 CAPTAÇÃO SUBTERRÂNEA
5        4.0  2005-06-06 00:00:00                 CAPTAÇÃO SUPERFICIAL
6        4.0  2005-06-06 00:00:00                 CAPTAÇÃO SUPERFICIAL
7        4.0  2005-07-09 00:00:00                 CAPTAÇÃO SUBTERRÂNEA
8        4.0  2005-07-10 00:00:00                 CAPTAÇÃO SUBTERRÂNEA
9        4.0  2005-07-10 00:00:00                 CAPTAÇÃO SUBTERRÂNEA
10       4.0  2005-07-11 00:00:00                 CAPTAÇÃO SUBTERRÂNEA
11       4.0  2005-07-18 00:00:00                 CAPTAÇÃO SUPERFICIAL
12       4.0  2005-08-17 00:00:00                 CAPTAÇÃO SUPERFICIAL
13       4.0  2005-10-19 00:00:00                 CAPTAÇÃO SUPERFICIAL
14       4.0  2005-10-23 00:00:00  AUTORIZAÇÃO PARA PERFURAÇÃO DE POÇO

                FINALIDADE/USO TIPO DE MANANCIAL  ... LAT SEG (")  \
0                  OUTROS USOS       SUPERFICIAL  ...        48.1
1                    IRRIGAÇÃO       SUPERFICIAL  ...        None
2                    IRRIGAÇÃO       SUPERFICIAL  ...        36.7
3                    IRRIGAÇÃO       SUBTERRÂNEO  ...        30.5
4   OUTROS USOS (PISCICULTURA)       SUBTERRÂNEO  ...        55.9
5         ABASTECIMENTO HUMANO       SUPERFICIAL  ...       55.92
6   OUTROS USOS (PISCICULTURA)       SUPERFICIAL  ...       45.72
7         ABASTECIMENTO HUMANO       SUBTERRÂNEO  ...        None
8         ABASTECIMENTO HUMANO       SUBTERRÂNEO  ...        None
9         ABASTECIMENTO HUMANO       SUBTERRÂNEO  ...        None
10                   IRRIGAÇÃO       SUBTERRÂNEO  ...        None
11        ABASTECIMENTO HUMANO       SUPERFICIAL  ...        None
12                   IRRIGAÇÃO       SUPERFICIAL  ...        None
13                   IRRIGAÇÃO       SUPERFICIAL  ...        None
14                   IRRIGAÇÃO       SUBTERRÂNEO  ...        None

   LONG GRAU (°) LONG MIN (') LONG SEG (")          LATITUDE   \
0           35.0          9.0         22.4  -8.91336111111111
1            NaN          NaN         None           -9.84102
2           36.0         23.0          1.9  -10.2435277777778
3           36.0         20.0          5.7  -10.3418055555556
4           36.0         22.0         29.7  -10.3821944444444
5           36.0         33.0        27.11  -10.3155333333333
6           36.0         29.0         4.38  -10.3460333333333
7            NaN          NaN         None  -9.20049396194989
8            NaN          NaN         None  -9.23426867653201
9            NaN          NaN         None  -9.24620861580939
10           NaN          NaN         None  -9.42094033677255
11           NaN          NaN         None          -9.173224
12           NaN          NaN         None           -9.84102
13           NaN          NaN         None          -9.009436
14           NaN          NaN         None          -9.469626

            LONGITUDE  NOTA PROCESSO PORTARIA        COMPARATIVO
0   -35.1562222222222  None     None     None  MAIOR QUE A MÉDIA
1          -36.572016  None     None     None  MAIOR QUE A MÉDIA
2   -36.3838611111111  None     None     None  MAIOR QUE A MÉDIA
3   -36.3349166666667  None     None     None  MENOR QUE A MÉDIA
4   -36.3749166666667  None     None     None  MENOR QUE A MÉDIA
5   -36.5575305555555  None     None     None  MENOR QUE A MÉDIA
6           -36.48455  None     None     None  MENOR QUE A MÉDIA
7   -35.9960955439668  None     None     None  MENOR QUE A MÉDIA
8   -35.9896130334856  None     None     None  MENOR QUE A MÉDIA
9   -36.0229448652135  None     None     None  MENOR QUE A MÉDIA
10   -36.156435443357  None     None     None  MENOR QUE A MÉDIA
11         -35.552415  None     None     None  MAIOR QUE A MÉDIA
12         -36.572016  None     None     None  MAIOR QUE A MÉDIA
13         -36.085003  None     None     None  MAIOR QUE A MÉDIA
14         -36.200232  None     None     None  MAIOR QUE A MÉDIA

[15 rows x 34 columns]
_______________________

PandaSQLException: (sqlite3.OperationalError) no such column: DATA
[SQL: SELECT DATA EXTRATO, count(*) as 'TotalNo'
              FROM df
              GROUP BY county
              HAVING COUNT(*) > 1000
              ORDER BY 1
              ]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [6]:
df.to_sql(name=database, con=conn, if_exists = 'replace', index=False, flavor = 'mysql')

NameError: name 'df' is not defined

In [ ]:
DataFrame.to_sql(name, con, flavor='sqlite', schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None)